/*header {
    background-color: #867070;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}*/

body {
    background-color: #e7c0c0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}


.one {
    background-color: ;
    display: grid;
    
    
}

.oneh1 {
    text-align: center;
    color: #867070;
    
}

img {
    border: 10px;
    border-radius: 20px;
    border-color: #867070;
    width: 400px;
    height: 400px;
    border-style: dotted;
    display: block;
    margin-right: auto;
    margin-left: auto
    ;
    width: 50%;

}

h2 {
    text-align: center;
    color: rgb(89, 89, 89);
}


h3 {
    text-align: center;
    color: rgb(89, 89, 89);
}

/*footer {
    background-color:#867070;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 14px;
}*/

h1 {
    text-align: center;
    color: ;
}

