body{
    background-color: #262020;
}

h1{
    color:rgb(61, 61, 61); 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h5{
    color:rgb(61, 61, 61); 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.page{
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#background-video {
    width: 100vw;
    height: 100vh;
    /*object-fit: cover;*/
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

header {
    /*background-color: #86707084;
    color: white;*/
    text-align: center;
    padding: 20px;
    position: relative;
}

/*p {
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}*/

/*.welcome{
    background-color: #f5f5f51f;;
    padding: 10px;
    border-radius: 10px;
}*/


/*.navgrid{
    display: grid;
    grid-template-columns: auto auto;
    padding:20px;
    margin: 20px;
    gap: 20px 20px;
    border-radius: 25px;
}

.navgrid > div{
    background-color: #f5f5f5;;
    padding: 10px;
    border-radius: 10px;
}*/


.homegrid{
    display: grid;
    grid-template-columns: 400px auto 400px;
}

.journey{
    padding-top: 80px;
}

.welcome{
    padding-right: 20px;
    color: rgb(107, 107, 107);
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.footer {
    background-color:#867070e2;
    color: rgb(61, 61, 61);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}