.menu{
    list-style-type: none;
    margin-top: 2px;
    padding: 2px;
    overflow: hidden;
    background-color: blanchedalmond;
    /* position:fixed;
    width: 100%;
    top: 0; */
}

p {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
h1{
    color:rgb(61, 61, 61); font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

.underline{
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 10px;
    float:right;
}

li a:hover:not(.active){
    background-color: gray;
    color: black;
    font-size: 35px;
    border-radius: 25px;
}

.active{
    text-decoration: none;
    background-color: gray;
    color: black;
    font-size: 35px; 
    padding: 10px 10px;
    float:right;
    border-radius: 25px;
}


footer {
    background-color:#867070;;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
